.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 90px;

    background-color: #220a0a; 
    border-top: 1px solid #ddd;

    display: grid;
    grid-template-columns: 1.2fr 2fr 1fr; 
    gap: 20px;

    padding: 14px 22px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    z-index: 1000;
}


.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-item {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer-item img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.footer-item:hover span {
    text-decoration: underline;
}

.footer-item:hover a {
    text-decoration: underline;
}

.footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-center p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.4;
    max-width: 600px;
}


.footer-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
}

.footer-warning {
    color: #ffffff;
    font-size: 12px;
}


body {
    padding-bottom: 120px;
}
