# Sécurité
.env
config/.env
*.sql
*.zip
# Données utilisateurs
users/imgs/*
users/tilings/*
!users/imgs/.gitkeep
!users/tilings/.gitkeep
users/imgs/temp_*
# Dépendances
vendor/
# IDE et Système
.idea/
.vscdode/
*.log
*.xml